{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Książki poszukiwane
{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Książki poszukiwane</h1>
        <p></p>
      </div>
    </div>
    <div class="col-md-6">
    {% if books != None %}
            <h2>Twoje książki poszukiwane:</h2>
            {% for book in books %}
                <div class="row">
                    <li>{{ book.author }} - {{ book.title }}</li>
                </div>
            {% endfor %}
    {% endif %}
    </div>

    <div class="col-md-4">
        <form role="form" action="{% url 'user_panel_booksWanted' %}" method="post">
            {% csrf_token %}

            <h2>Dodaj książkę</h2>

            {{ form | crispy }}

            <button type="submit" class="btn btn-default">Dodaj</button>
        </form>
    </div>

{% endblock %}