{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="padding-bottom: 0px;">
            <div class="jumbotron-content">
                {{ book.title }}
                <h3>Autor: {{ book.author }}</h3>
                <form role="form" action="{% url 'book_exchange' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}"/>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary" style="text-align: center">Zgłoś zainteresowanie</button>
                    </div>
                </form>
                 <form role="form" action="{% url 'book_report' %}" method="get">
                     {% csrf_token %}
                     <input type="hidden" name="book_id" value="{{ book.id }}"/>
                     <div style="text-align: right;">
                         <button type="submit" class="btn btn-danger" >Zgłoś nadużycie</button>
                     </div>
                 </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                {% if reported %}
                    <h2>Książka została zgłoszona do administracji.</h2>
                {% endif %}

                {% if book.booktype_id == 1 %}
                    <div class="panel panel-info" >
                        <div class="panel-heading"><h4>Opis książki</h4></div>
                        <div class="panel-body">
                            <p class="text-justify">{{ book.description }}</p>
                        </div>
                        <div class="panel-heading"><h4>Lokalizacja</h4></div>
                        <div class="panel-body">
                            {{ book.user.profile.location }}
                        </div>
                    </div>
                    <div class="panel panel-default" >
                        <div class="panel-body">
                            {% if book.user_id == user.id %}
                                <h3>Książka udostępniona do wymiany przez Ciebie.</h3>
                            {% else %}
                                <h3>Książka udostępniona do wymiany przez użytkownika:
                                    <b><a href="{% url 'user_home' book.user.id %}">{{ book.user.username }}</a></b></h3>
                            {% endif %}
                        </div>
                    </div>
                {% elif book.booktype_id == 2 %}
                    <h4>Lokalizacja: {{ book.user.profile.location }}</h4>
                    {% if book.user_id == user.id %}
                        <h3>Książka poszukiwana przez Ciebie.</h3>
                    {% else %}
                        <h3>Książka poszukiwana przez użytkownika:
                            <b><a href="{% url 'user_home' book.user.id %}">{{ book.user.username }}</a></b></h3>
                    {% endif %}
                {%  endif %}
            </div>



            <div class="col-md-4">
                {% for tag in bookTags %}
                    <div style="margin-bottom: 10px; display: inline-block;">
                        <a href="/search/search?author=&title=&location=&tags={{ tag.tagId.tag }}" ><h2 style="display: inline;"><span class="label label-info">{{ tag.tagId.tag }}</span></h2></a>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                {% for image in images %}
                    <a href="../{{ image.image.url }}">
                        <img style="margin-bottom: 40px;" src="../{{ image.image.url }}"  width="600px">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
