{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="jumbotron-content">
                {{ book.title }}
                <h3>Autor: {{ book.author }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            <h4>Opis książki:</h4>
            <p class="text-justify">{{ book.description }}</p>
            {% if book.booktype_id == 1 %}
                {% if book.user_id == user.id %}
                    <h3>Książka udostępniona do wymiany przez Ciebie.</h3>
                {% else %}
                    <h3>Książka udostępniona do wymiany przez użytkownika: <b>{{ book.user.username }}</b></h3>
                {% endif %}
            {% elif book.booktype_id == 2 %}
                {% if book.user_id == user.id %}
                    <h3>Książka poszukiwana przez Ciebie.</h3>
                {% else %}
                    <h3>Książka poszukiwana przez użytkownika: <b>{{ book.user.username }}</b></h3>
                {% endif %}
            {%  endif %}
        </div>
    </div>
{% endblock %}