{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="jumbotron-content">
                {{ book.title }}
                <h3>Autor: {{ book.author }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            {% if book.booktype_id == 1 %}
                <h4>Opis książki:</h4>
                <p class="text-justify">{{ book.description }}</p>
                <h4>Lokalizacja: {{ book.user.profile.location }}</h4>
                {% if book.user_id == user.id %}
                    <h3>Książka udostępniona do wymiany przez Ciebie.</h3>
                {% else %}
                    <h3>Książka udostępniona do wymiany przez użytkownika:
                        <b><a href="{% url 'user_home' book.user.id %}">{{ book.user.username }}</a></b></h3>
                {% endif %}
            {% elif book.booktype_id == 2 %}
                <h4>Lokalizacja: {{ book.user.profile.location }}</h4>
                {% if book.user_id == user.id %}
                    <h3>Książka poszukiwana przez Ciebie.</h3>
                {% else %}
                    <h3>Książka poszukiwana przez użytkownika:
                        <b><a href="{% url 'user_home' book.user.id %}">{{ book.user.username }}</a></b></h3>
                {% endif %}
            {%  endif %}
        </div>
    </div>
{% endblock %}