{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Zapomniałeś hasła?
{% endblock %}

{% block content %}

    <div class="container">
        <h2>Zapomniałeś hasła?</h2>
        <h4>Podaj adres email przypisany do konta, a wyślemy Ci wiadomość, która pozwoli na ustanowienie nowego hasła.</h4>
        </br>

        <div class="row col-md-4">
            <form role="form", action="{% url 'forgot_password' %}" method="post">
            {% csrf_token %}

            {{ form | crispy }}

            <button type="submit" class="btn btn-default">Kontynuuj</button>
        </form>
        </div>
    </div>

{% endblock %}